.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #e66465, #9198e5);
}

.login-card {
  background-color: white;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 2rem;
  color: #333;
}

.login-card input {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.login-card button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-card button:hover {
  background-color: #3700b3;
}
.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #6c63ff;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.error-msg {
  color: #e53935;
  margin-top: 1rem;
}
